.masthead{
  display: flex;
  align-content: space-around;
  flex-direction: column;
  background: url("../../../assets/images/bg_ok.webp") no-repeat;
  background-size: cover !important;
  background-position:bottom;
  height: 100vh;
}

.bg-image{
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background: rgba(125,125,125,0.2);
}
.tempete{
  background: url("../../../assets/images/tempete_ok.webp") no-repeat !important;
  background-size: cover !important;
   background-position:bottom;
}

.montagne{
  background: url("../../../assets/images/moutains_ok.webp") no-repeat !important;
  background-size: cover !important;
   background-position:bottom;
}
.foret{
  background: url("../../../assets/images/forestGood.webp") no-repeat !important;
  background-size: cover !important;
   background-position:bottom;
}

.refuge{
  background: url("../../../assets/images/refuge_ok.webp") no-repeat !important;
  background-size: cover !important;
   background-position:bottom;
}

.bg-image {
  overflow-x: hidden;
  overflow-y: overlay;
}
/* titres */
.perso-shadow {
  text-shadow: 1px 3px 2px rgba(255,255,255,0.2);
  color: #fff;
}
/* prompteur */
.paragraphe {
  scroll-behavior: smooth;
  font-family: New Times Roman;
  font-size: 26px;
  background: rgba(125,125,125,0.50);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 50vh;
  padding:5px;
  scroll-behavior: smooth;
  color: #fff;
  line-height: 35px;
}
@media all and (max-height:750px) {
  h1{
    margin: 0px !important;
  }
}
@media all and (max-width:805px){
  .paragraphe {
    font-size:24px !important;
    line-height: 19px;
  }
}
@media all and (max-width:450px){
  .paragraphe {
    font-size:18px !important;
    line-height: 19px;
  }
}
hr {
  border: 2px #fff solid;
}
