<header class="masthead">
    <div class="intro-body bg-image">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading perso-shadow">Artventure</h1>
                    <h1 class="perso-shadow">LAST CHANCE</h1>
                    <p class="intro-text"></p>
                    <hr>
                    <p class="paragraphe">Tout a débuté un matin lors d&#39;un appel du shérif local,
                        annonçant la disparition de Lyla, la petite amie de ce jeune garçon s&#39;appelant
                        Artventure.<br /><br />Choqué par cette annonce, le petit se réfugia en sanglots dans sa
                        chambre. Il prépara son sac à dos en le chargeant d&#39;une lampe torche, d&#39;un vêtement
                        chaud et de quelques petits cookies.<br /><br />Ne disant rien à ses parents, il se leva à
                        l&#39;aube sur la pointe des pieds pour aller délivrer la petite Lyla <span id="#topParagraphe"></span>
                    </p>
                    <a class="btn btn-link btn-circle" role="button" (click)="redirectPerso()">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
