<header class="masthead">
    <div class="intro-body bg-image">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading perso-shadow">Artventure</h1>
                    <h1 class="perso-shadow">LAST CHANCE</h1>
                    <p class="intro-text"></p>
                    <hr>
                    <p class="paragraphe">{{histoire?.content}}<span id="#topParagraphe"></span>
                    </p>
                    <a class="btn btn-link btn-circle" role="button" (click)="redirectPerso()">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
