/*
   _____ ______ _   _ ______ _____            _      
  / ____|  ____| \ | |  ____|  __ \     /\   | |     
 | |  __| |__  |  \| | |__  | |__) |   /  \  | |     
 | | |_ |  __| | . ` |  __| |  _  /   / /\ \ | |     
 | |__| | |____| |\  | |____| | \ \  / ____ \| |____ 
  \_____|______|_| \_|______|_|  \_\/_/    \_\______|
                                                     
                                                     
*/
html, body {
  overflow-y: hidden;
}
body{
  background: #01011e;
}
::-webkit-scrollbar {
  margin: 0;
  height: 0px;
  width: 0px;
  background: rgba(0,0,0,.75);
  transform: scaleX(-100vw);
}

::-webkit-scrollbar-thumb {
  background: grey;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,.75);
}
/*
  _____  ______ _____   _____  ____  
 |  __ \|  ____|  __ \ / ____|/ __ \ 
 | |__) | |__  | |__) | (___ | |  | |
 |  ___/|  __| |  _  / \___ \| |  | |
 | |    | |____| | \ \ ____) | |__| |
 |_|    |______|_|  \_\_____/ \____/ 
                                     
                                     
*/
header.masthead{
  background: url("../../../assets/images/bg_ok.webp");
  background-size: contain;
}
.bg-image {
  overflow-x: hidden;
  overflow-y: overlay;
}
@media all and (max-height:750px) {
  .masthead .intro-body .brand-heading{
    font-size: 25px !important;
  }
}
/* animation pluie */
.fa-tint {
  color: rgb(160,160,160);
  position: absolute;
  top: -20px;
  animation: fall linear forwards;
}
@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}





