/* You can add global styles to this file, and also import other style files */
/*
   _____ ______ _   _ ______ _____            _      
  / ____|  ____| \ | |  ____|  __ \     /\   | |     
 | |  __| |__  |  \| | |__  | |__) |   /  \  | |     
 | | |_ |  __| | . ` |  __| |  _  /   / /\ \ | |     
 | |__| | |____| |\  | |____| | \ \  / ____ \| |____ 
  \_____|______|_| \_|______|_|  \_\/_/    \_\______|
                                                     
                                                     
*/
html, body,* {
    overflow-y: hidden !important;
  }
  body{
    background: #01011e;
  }
  ::-webkit-scrollbar {
    margin: 0;
    height: 0px;
    width: 0px;
    background: rgba(0,0,0,.75);
    transform: scaleX(-100vw);
  }
  
  ::-webkit-scrollbar-thumb {
    background: grey;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,.75);
  }
  /* animation pluie */
  .fa-tint {
    color: rgb(160,160,160);
    position: absolute;
    top: -20px;
    animation: fall linear forwards;
  }
  @keyframes fall {
    to {
      transform: translateY(105vh);
    }
  }
 

  
  
  
  
  
  
  
