<div id="presentationCartes" class="image">
    <!-- new card -->
    <div class="carte">
        <h4>
            Tempête
        </h4>
        <div id="carte1">
            <a href="#">
                <img loading="lazy" class="img" src="../../../assets/images/tempete_ok.webp" alt="tempete" id="carte1">
            </a>
        </div>
    </div>
    <!-- new card -->
    <div class="carte">
        <h4>
            Montagne
        </h4>
        <div id="carte2">
            <a href="#">
                <img loading="lazy" class="img" src="../../../assets/images/moutains_ok.webp" alt="montagne" id="carte2">
            </a>
        </div>

    </div>
    <!-- new card --> 
    <div class="carte">
        <h4>
            Forêt
        </h4>
        <div id="carte3">
            <a href="#">
                <img loading="lazy" class="img" src="../../../assets/images/forestGood.webp" alt="foret" id="carte3">
            </a>
        </div>
    </div>
    <!-- new card --> 
    <div class="carte">
        <h4>
            Refuge
        </h4>
        <div id="carte4">
            <a href="#">
                <img loading="lazy" class="img" src="../../../assets/images/refuge_ok.webp" alt="refuge" id="carte4">
            </a>
        </div>
    </div>
</div><!-- end cards -->
<img loading="lazy" id="element" src="../../../assets/images/unknown.webp" loading="lazy" title="Déplace moi avec le claiver" alt="personnage du jeux"><!-- personnage -->

